<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Лабораторная 1</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="main.js" type="text/javascript"></script>
    <script src="lodash.js" type="text/javascript"></script>
</head>
<body>
<header class="header"><h1>Web-программирование. Лабораторная 1</h1></header>
<form class="container"><input placeholder="Город" id="city"><button id="search">Поиск</button> </form>
<script id="template-weather" type="text/template">
        <h2 class="city-name"><%= city %></h2>
        <h3 class="time">Временная зона: UTC + <%= timezone%></h3>
        <div class="info">
            <h3 class="statement">Погода по состоянию на <%= date %> (время локальное):</h3>
            <ul>
                <li>Температура: <%= temperature %>&deg;C</li>
                <li>Скорость ветра: <%= wind %> м/с</li>
                <li>Давление: <%= pressure %> кПа</li>
                <li>Влажность: <%= humidity %>%</li>
            </ul>
        </div>
</script>
<div id="weather"></div>
</body>
</html>